body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.checkbox input[type='checkbox'] {
    margin-left: 0;
}

.form-horizontal .control-label {
    padding-top: 0;
}

.edit-options-list li {
    display: inline-block;

    &:not(:first-child)::before {
        content: "| ";
        position: relative;
        top: -1px;
        padding: 0 5px;
    }
}

/* #region Bootstrap navbar style overrides */
$minScreenWidth: 768px;
$maxScreenWidth: 991px;

@media (min-width: $minScreenWidth) and (max-width: $maxScreenWidth) {
    .navbar .container {
        width: auto;
    }

    .navbar {
        .container {
            max-width: none;

            > .navbar-header,
            > .navbar-collapse {
                $margin_padding_px: 15px;
                margin-left: -$margin_padding_px;
                margin-right: -$margin_padding_px;
                padding-left: $margin_padding_px;
                padding-right: $margin_padding_px;
                overflow-y: auto;
            }
        }
    }

    .navbar-header,
    .navbar-right {
        float: none !important;
    }

    .navbar-right {
        margin-right: 0;
    }

    .navbar-toggle {
        display: block;
        margin-right: 0;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);

        &.collapse {
            display: none !important;
        }

        &.in {
            height: auto;
            overflow-x: visible;
            overflow-y: auto;
        }
    }

    .navbar-nav {
        float: none !important;
        margin: 7.5px -15px;

        > li {
            float: none;

            > a {
                $padding: 10px;
                padding-top: $padding;
                padding-bottom: $padding;
            }
        }

        .open {
            .dropdown-menu {
                $dropdown_item_padding: 5px 15px 5px 25px;
                position: static;
                float: none;
                width: auto;
                margin-top: 0;
                background-color: transparent;
                border: 0;
                box-shadow: none;

                > li {
                    > a {
                        padding: $dropdown_item_padding;
                        line-height: 20px;
                    }
                }

                .dropdown-header {
                    padding: $dropdown_item_padding;
                }
            }
        }
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #999;

        &:hover,
        &:focus {
            color: #ffffff;
            background-color: transparent;
            background-image: none;
        }
    }
}

@media screen and (min-width: $minScreenWidth) and (max-width: $maxScreenWidth) {
    .jumbotron {
        padding: 30px 15px!important;
        border-radius: 6px;

        h1 {
            font-size: 36px;
        }
    }
}
/* #endregion */

/* #region SpinShield */
.spin-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    display: table;
    z-index: 9999;
    height: 100%;
    width: 100%;
    background-color: rgba(35, 35, 35, 0.65);

    .spin-wrapper-inner {
        display: table-cell;
        vertical-align: middle;
        text-align: center;

        .spin {
            background-color: transparent;
        }
    }

    @media(min-width: 768px) {
        .spin {
            height: 178px;
            width: 178px;
        }
    }
}
/* #endregion */

#AlertModal {
    background-color: rgba(63, 63, 63, 0.75);
}

.pager {
    margin: 0;
    font-size: 12px;

    > li {
        vertical-align: bottom;
    }

    &.pager-right {
        text-align: right;
    }

    .pager-btn {
        > a {
            border-radius: 4px;
        }
    }
}

@media (min-width: $maxScreenWidth - 1px) {
    .modal-lg {
        width: 900px;
    }
}


.alert.alert-icontext {
    display: table;

    > * {
        display: table-cell;
        vertical-align: middle;
    }

    .fa {
        width: 35px;
    }
}