body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.form-horizontal .control-label {
    padding-top: 0;
}

.edit-options-list li {
    display: inline-block;
}

    .edit-options-list li:not(:first-child)::before {
        content: "| ";
        position: relative;
        top: -1px;
        padding: 0 5px;
    }

/* #region Bootstrap navbar style overrides */
@media (min-width: 768px) and (max-width: 991px) {
    .navbar .container {
        max-width: none;
    }

    .container > .navbar-header,
    .container > .navbar-collapse {
        margin-left: -15px;
        margin-right: -15px;
        padding-left: 15px;
        padding-right: 15px;
        overflow-y: auto;
    }

    .navbar-header,
    .navbar-right {
        float: none !important;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }

        .navbar-collapse.collapse {
            display: none !important;
        }

    .navbar-nav {
        float: none !important;
        margin: 7.5px -15px;
    }

        .navbar-nav > li {
            float: none;
        }

            .navbar-nav > li > a {
                padding-top: 10px;
                padding-bottom: 10px;
            }

        .navbar-nav .open .dropdown-menu {
            position: static;
            float: none;
            width: auto;
            margin-top: 0;
            background-color: transparent;
            border: 0;
            box-shadow: none;
        }

            .navbar-nav .open .dropdown-menu > li > a {
                line-height: 20px;
            }

    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #999;
    }

        .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
        .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
            color: #ffffff;
            background-color: transparent;
        }

    .navbar-nav .open .dropdown-menu > li > a,
    .navbar-nav .open .dropdown-menu .dropdown-header {
        padding: 5px 15px 5px 25px;
    }
}
/* #endregion */

/* #region SpinShield */
.spin-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    display: table;
    z-index: 9999;
    height: 100%;
    width: 100%;
    background-color: rgba(35, 35, 35, 0.65);
}

    .spin-wrapper .spin-wrapper-inner {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }

    .spin-wrapper .spin {
        background-color: transparent;
    }

@media(min-width: 768px) {
    .spin-wrapper .spin {
        height: 178px;
        width: 178px;
    }
}
/* #endregion */
