@{
    ViewBag.Title = "Registration Confirmation";
}

<h2>Registaion Submission Received</h2>
<p>
    Your request for access has been received!  Once one of our officers reviews your information, you will receive a confirmation email which will
    allow you to log in!
</p>

