@model IEnumerable<Selama.ViewModels.Home.GuildNewsFeedViewModel>

@foreach (var item in Model)
{
    <tr>
        <td>
            @item.Content
        </td>
        <td style="text-align: right;">
            <span data-toggle="tooltip" data-placement="auto bottom" data-container="#GuildNewsPanel .panel-body" title="@Html.DisplayFor(modelItem => item.Timestamp)">
                @item.Timestamp.ToRelativeDateTimeString()
            </span>
        </td>
    </tr>
}
