@model IEnumerable<Selama.ViewModels.Home.GuildNewsFeedViewModel>

@foreach (var item in Model)
{
    <div class="row">
        <div class="col-xs-8 col-sm-8 col-md-10 col-lg-10">
            @item.Content
        </div>
        <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 text-right">
            <span data-toggle="tooltip" data-placement="bottom" data-container="#GuildNewsPanel .panel-body" title="@Html.DisplayFor(modelItem => item.Timestamp)">
                @item.Timestamp.ToRelativeDateTimeString()
            </span>
        </div>
    </div>
}
