@{
    ViewBag.Title = "Home Page";
}

@section Scripts {
    @Scripts.Render("~/bundles/Selama-RootArea")
    <script type="text/javascript" src="https://wow.zamimg.com/widgets/power.js"></script>
    <script type="text/javascript">
        var wowhead_tooltips = {
            colorlinks: true,
            iconizelinks: false,
            renamelinks: true,
        };

        $(document).ready(function ()
        {
            var $guildNewsPanel = $("#GuildNewsPanel");
            $guildNewsPanel.on("click", ".row-load-more",
                {
                    url: '@Url.Action("GetGuildNewsFeed", "Home", new { area = "" })',
                },
                Selama.RootArea.Home.LoadGuildNewsFeedPanelCallback
            );
            $guildNewsPanel.find(".row-load-more").trigger("click");
        });
    </script>
}

<div class="jumbotron">
    <h1>Selama Ashal'anore!</h1>
    <p class="lead">
        Welcome to our new guild website! The website is still under construction, so please
        bear with us as we build a new platform for us to interact and connect on!
    </p>
</div>

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Selama Ashal'anore Synopsis</h4>
            </div>
            <div class="panel-body">
                Selama Ashalanore is a guild on Wyrmrest Accord with a strong focus on Forsaken and
                Blood Elf roleplay, that bases itself on lore compliance and standards that separates
                itself from most other roleplay groups. We don't allow ERP, lore-breaking characters
                (Half-dragons, relatives of NPCs, Gods, etc) soap opera-esque drama, and many of the
                other RP cliches out there.
                <br />
                <br />
                We're a very involved guild and spend as much time out of game as we do logged in.
                Aside from Warcraft, many of our guildies play a number of other games with each other
                (Minecraft, EVE online, League of Legends, SWTOR, The Secret World, Mass Effect, Team
                Fortress 2, etc.) When applying to Selama Ashalanore, keep in mind that you're not only
                applying to be a guildie, you're applying to be a part of a close group of friends.
                <br />
                <br />
                Also, <a href="http://wow.joystiq.com/2013/05/02/inside-the-fabulous-world-of-blood-elf-roleplaying/#comments" rel="nofollow" target="_blank">this</a>
                is a neat thing that happened!
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div id="GuildNewsPanel" class="panel panel-default" data-page="1">
            <div class="panel-heading">
                <h4>
                    Guild News Feed
                </h4>
            </div>
            <div class="panel-body">
                <div class="table-wrapper">
                    <div class="container-fluid container-striped">
                        <div class="row row-load-more text-center">
                            <a href="#GuildNewsPanel" class="col-sm-12 col-md-12 col-lg-12 ">
                                <span class="fa fa-refresh"></span> Load more
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>