@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger alert-icontext">
        <span class="fa fa-2x fa-exclamation-circle"></span>
        <span>
            @ViewBag.ErrorMessage
        </span>
    </div>
}
else
{
    <h2 class="text-danger">An error occurred while processing your request.</h2>
}

