@model ThreadReplyQuoteViewModel

<blockquote markdown="1">
<div class="quote-head" markdown="1">
Posted by [@Model.Author](?page=@Model.PageNum#@Model.ReplyIndex)
<div class="quote-post-date" markdown="1">
@Model.PostDate
</div>
</div>

@(new HtmlString(Model.Content))
</blockquote>