@model Selama.Areas.Forums.ViewModels.ThreadViewModel

@{
    ViewBag.Title = "Add a thread";
}

<h2>Add a thread</h2>
<p>
    @Html.ActionLink("Back to forum", "Index")
</p>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Add a thread</h4>
        <hr />
        
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        @Html.EditorForModel()

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}